<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  
  <configSections>
    <section name="nhamlViewEngine" 
             type="Mindscape.NHaml.ViewEngine.Configuration.NHamlViewEngineSection, Mindscape.NHaml.ViewEngine" />
  </configSections>

  <nhamlViewEngine production="true"  />
  
</configuration>